* {
    margin: 0;
    padding: 0;
}

.Container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 565px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

body{
    background-color: #606060;
}


button{
    height: 50px;
    margin: 15px;
    border-radius: 50%;
padding: 1px;
width: 100px;
}

.buttons{
    border: 1px solid #6194BC;
    background-color: #D0EAFF;
    justify-content: center;
    height: fit-content;
    width: fit-content;
}

.placeHolder1{
    position: absolute;
    left: 100px;
    top: 100px;
    height: 150px;
    width: 200px;
    background-color: #ECECEC;
    border-radius: 50%;
}
.placeHolder2{
    position: absolute;
    right: 100px;
    top: 100px;
    height: 150px;
    width: 200px;
    background-color: #ECECEC;
    border-radius: 50%;
}