* {
    margin: 0;
    padding: 0;
}

body{
    background-color: lightblue;
}

.Container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 1265px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

.buttons{
    position:relative;
    top: 100px;
    border: 1px solid #6194BC;
    background-color: #D0EAFF;
    justify-content: center;
    height: fit-content;
    width: fit-content;
}

.NewGame{
    border-radius: 0%;
    position:relative;
    top: 100px;
    height: 1   00px;
    width: 200px;
    border: 1px solid #6194BC;
    background-color: #D0EAFF;
    justify-content: center;
    height: fit-content;
    width: fit-content;
}

button{
    width: 200px;
    height: 100px;
    margin: 15px;
    border-radius: 50%;
    padding: 1px;
    flex-direction: column;
}

img{
    position: absolute;
    height: 100px;
    width: 100px;
}

.stone{
    position: absolute;
    top: 10px;
    left:65px;
}

.Paper{
    position: absolute;
    left: 300px;
    top: 15px;
}

.Scissors{
    position: absolute;
    rotate:90deg;
    top: 16px;
    right: 530px;
}

.Micro{
    position: absolute;
    top: 13px;
    right: 300px;
}

.Pencil{
position: absolute;
rotate: 50deg;
top: 13px;
right: 70px;
}

.Players1{
    position: absolute;
    left: 400px;
    top: 100px;
    height: 150px;
    width: 200px;
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
}

.player1{
    position: absolute;
    top: -50px;
    left: 70px;
}

.Players2{
    position: absolute;
    right: 400px;
    top: 100px;
    height: 150px;
    width: 200px;
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
}

.player2{
    position: absolute;
    top: -50px;
    right: 30px;
}

.winner{
    position: absolute;
    right: 805px;
    top: 5px;
    height: 250px;
    width: 300px;
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
}

.Games{
    position:absolute;
    top: 340px;
    right: 846px;
    height: 100px;
    width: 220px;
    border-radius: 50%;
    background-color: #D0EAFF;
    border: 1px solid black;
}


.playerscore2{
    position:absolute;
    top: 280px;
    right: 425px;
    height: 100px;
    width: 150px;
    border-radius: 50%;
    background-color: #D0EAFF;
    border: 1px solid black;
}

.playerscore1{
    position:absolute;
    top: 280px;
    left: 425px;
    height: 100px;
    width: 150px;
    border-radius: 50%;
    background-color: #D0EAFF;
    border: 1px solid black;
}
