
* {
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(#00030a, #2e39a8);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
}

.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(32, 32, 32) 50%, rgb(241, 241, 241) 50%);
    bottom:0;
    left:-70%;
    opacity:.1;
    position:fixed;
    right:-90%;
    top:0;
    z-index:-1;
}
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
}

.bg3 {
    animation-duration:5s;
}

@keyframes slide {
    0% {
        transform:translateX(-25%);
    }
    100% {
        transform:translateX(25%);
    }
  }
  
.Container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 1265px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

.title{
position: absolute;
top: 0px;
font-style: oblique;
font-variant: small-caps;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}


.NewGame{
    right: 540px;
    border-radius: 0%;
    position:relative;
    top: 100px;
    height: 1   00px;
    width: 200px;
    border: 1px solid #000000;
    background-color: #348ce4;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    margin-top: 30px;
}

.choices{
    position:relative;
    top: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    left: 35px;
}

button{
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 140px;
    margin-left: 50px;
    border-radius: 25%;
    padding: 1px;
    box-shadow: 5px 5px 10px 2px;
    transition: background-color 0.5s;
}

button:hover{
    background:linear-gradient(#ca270a, rgb(75, 60, 60)) ;
}

.nonbuttons{
    box-shadow: 5px 5px 10px 2px;
}

img{
    position: absolute;
    height: 100px;
    width: 100px;
}

.stone{
    position: absolute;
    width: 100px;
    top: 15px;
    left:65px;
}

.Paper{
    position: absolute;
    left: 265px;
    top: 15px;
}

.Scissors{
    position: absolute;
    rotate:90deg;
    top: 20px;
    right: 534px;
}

.Print{
    position: absolute;
    top: 25px;
    right: 332px;
}

.Pencil{
    position: absolute;
    rotate: 50deg;
    top: 20px;
right: 145px;
}

.Players1{
    position: absolute;
    left: 400px;
    top: 100px;
    height: 150px;
    width: 200px;
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.Players2{
    position: absolute;
    right: 400px;
    top: 100px;
    height: 150px;
    width: 200px;
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
}



.Winner{
    position: absolute;
    right: 805px;
    top: 70px;
    height: 250px;
    width: 300px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 50%;
}

.scoreDisplay2{
    position:absolute;
    top: 280px;
    right: 425px;
    height: 150px;
    width: 150px;
    border-radius: 20%;
    background-color: #f7f7f7;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    display: flex;
}


.scoreDisplay1{
    position:absolute;
    top: 280px;
    left: 425px;
    height: 150px;
    width: 150px;
    border-radius: 20%;
    background-color: #ffffff;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    display: flex;
}

.title{
    font-size: 3.5rem;
    position: absolute;
    left: 50px;
    color:whitesmoke;
    width: 20px;
}

.greenText #playerScoreDisplay{
    color: rgb(77, 216, 77);
}

.redText #computerScoreDisplay{
    color:#ca270a;
}

.player{
    color: whitesmoke;
    position: absolute;
    top: 50px;
    left: 450px;
}
.cpu{
    color: whitesmoke;
    position: absolute;
    top: 50px;
    right: 420px;
}
.winner{
    color: whitesmoke;
    position: absolute;
    top: 20px;
    left: 880px;
}